<div class="content">
  <h2>Sales taxes problem</h2>
  <mat-card>
    <mat-card-header>
      <mat-card-title>ADD YOUR ITEMS HERE</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="purchaseForm" (ngSubmit)="onSubmit()">
        <!-- Name field -->
        <mat-form-field style="width: 100%;">
          <mat-label>Name</mat-label>
          <input matInput type="text" placeholder="Enter product name" formControlName="name" required>
        </mat-form-field>
        <!-- Quantity field -->
        <mat-form-field style="width: 49%;">
          <mat-label>Quantity</mat-label>
          <input matInput type="number" placeholder="Enter product quantity" formControlName="quantity" min="0" required>
        </mat-form-field>
        <!-- Price field -->
        <mat-form-field style="width: 49%; margin-left: 2%;">
          <mat-label>Price</mat-label>
          <input matInput type="number" placeholder="Enter product price in euros" formControlName="price" min="0" required>
          <span matSuffix>€</span>
        </mat-form-field>
        <!-- Exempt field -->
        <mat-checkbox formControlName="exempt">Is this a primary good (exempt product)?</mat-checkbox>
        <!-- Imported field -->
        <mat-checkbox formControlName="imported">Is this an imported product?</mat-checkbox>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-button [disabled]="purchaseForm.invalid" (click)="onSubmit()">ADD TO CART</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>CART</mat-card-title>
      <mat-card-subtitle *ngIf="!items?.length">The cart is empty. Add items to fill it!</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list *ngIf="items?.length">
        <mat-list-item *ngFor="let item of items">
          <h1 matLine>{{item.product?.name}}</h1>
          <span matLine>Quantity: {{item.quantity}}</span>
          <span>{{item.product?.price}}€</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" mat-button [disabled]="!items?.length" (click)="onClickBuy()">BUY</button>
      <button style="float: right;" type="button" mat-button (click)="onClickReset()">RESET</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>PURCHASE</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list *ngIf="purchase">
        <mat-list-item *ngFor="let item of purchase?.items">
          <span>{{item.quantity}} {{item.product?.name}} : {{item.amount}}€</span>
        </mat-list-item>
        <h3>Sales Taxes: <span>{{purchase.totalTaxes}}€</span></h3>
        <h3>Total: <span>{{purchase.totalAmount}}€</span></h3>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>